.vscode/c_cpp_properties.json
.vscode/settings.json
objFile/newclass.sh
makeProject.sh
VM/newclass.sh
VM/build/VM
VM/build/start
VM/build/file.o
objFile/build/start
objFile/build/ObjFile
objFile/build/file.o
objFile/build/CMakeFiles/cmake.check_cache
objFile/build/CMakeFiles/CMakeDirectoryInformation.cmake
objFile/build/CMakeFiles/CMakeOutput.log
objFile/build/CMakeFiles/Makefile.cmake
objFile/build/CMakeFiles/Makefile2
objFile/build/CMakeFiles/progress.marks
objFile/build/CMakeFiles/TargetDirectories.txt
objFile/build/CMakeFiles/3.21.2/CMakeCCompiler.cmake
objFile/build/CMakeFiles/3.21.2/CMakeCXXCompiler.cmake
objFile/build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_C.bin
objFile/build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_CXX.bin
objFile/build/CMakeFiles/3.21.2/CMakeSystem.cmake
objFile/build/CMakeFiles/3.21.2/CompilerIdC/a.out
objFile/build/CMakeFiles/3.21.2/CompilerIdC/CMakeCCompilerId.c
objFile/build/CMakeFiles/3.21.2/CompilerIdCXX/a.out
objFile/build/CMakeFiles/3.21.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
objFile/build/CMakeFiles/ObjFile.dir/build.make
objFile/build/CMakeFiles/ObjFile.dir/cmake_clean.cmake
objFile/build/CMakeFiles/ObjFile.dir/compiler_depend.make
objFile/build/CMakeFiles/ObjFile.dir/compiler_depend.ts
objFile/build/CMakeFiles/ObjFile.dir/depend.make
objFile/build/CMakeFiles/ObjFile.dir/DependInfo.cmake
objFile/build/CMakeFiles/ObjFile.dir/flags.make
objFile/build/CMakeFiles/ObjFile.dir/link.txt
objFile/build/CMakeFiles/ObjFile.dir/progress.make
objFile/build/CMakeFiles/ObjFile.dir/home/traum/projects/ProjectVM/objFile/main.cpp.o
objFile/build/CMakeFiles/ObjFile.dir/home/traum/projects/ProjectVM/objFile/main.cpp.o.d
VM/build/CMakeFiles/cmake.check_cache
VM/build/CMakeFiles/CMakeDirectoryInformation.cmake
VM/build/CMakeFiles/CMakeOutput.log
VM/build/CMakeFiles/Makefile.cmake
VM/build/CMakeFiles/Makefile2
VM/build/CMakeFiles/progress.marks
VM/build/CMakeFiles/TargetDirectories.txt
VM/build/CMakeFiles/3.21.2/CMakeCCompiler.cmake
VM/build/CMakeFiles/3.21.2/CMakeCXXCompiler.cmake
VM/build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_C.bin
VM/build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_CXX.bin
VM/build/CMakeFiles/3.21.2/CMakeSystem.cmake
VM/build/CMakeFiles/3.21.2/CompilerIdC/a.out
VM/build/CMakeFiles/3.21.2/CompilerIdC/CMakeCCompilerId.c
VM/build/CMakeFiles/3.21.2/CompilerIdCXX/a.out
VM/build/CMakeFiles/3.21.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
VM/build/CMakeFiles/Progress/1
VM/build/CMakeFiles/Progress/count.txt
VM/build/CMakeFiles/VM.dir/build.make
VM/build/CMakeFiles/VM.dir/cmake_clean.cmake
VM/build/CMakeFiles/VM.dir/compiler_depend.internal
VM/build/CMakeFiles/VM.dir/compiler_depend.make
VM/build/CMakeFiles/VM.dir/compiler_depend.ts
VM/build/CMakeFiles/VM.dir/depend.make
VM/build/CMakeFiles/VM.dir/DependInfo.cmake
VM/build/CMakeFiles/VM.dir/flags.make
VM/build/CMakeFiles/VM.dir/link.txt
VM/build/CMakeFiles/VM.dir/progress.make
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/main.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/command.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/command.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/cpu.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/cpu.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/Fabric.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/Fabric.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/flags.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/flags.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/memory.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/memory.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/psw.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/psw.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/registers.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/registers.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/types.cpp.o
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/source/types.cpp.o.d
VM/build/CMakeFiles/VM.dir/home/traum/projects/ProjectVM/VM/main.cpp.o
objFile/build/CMakeFiles/3.21.3/CMakeCCompiler.cmake
objFile/build/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake
objFile/build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_C.bin
objFile/build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin
objFile/build/CMakeFiles/3.21.3/CMakeSystem.cmake
objFile/build/CMakeFiles/3.21.3/CompilerIdC/a.out
objFile/build/CMakeFiles/3.21.3/CompilerIdC/CMakeCCompilerId.c
objFile/build/CMakeFiles/3.21.3/CompilerIdCXX/a.out
objFile/build/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
objFile/build/CMakeFiles/angle.dir/build.make
objFile/build/CMakeFiles/angle.dir/cmake_clean.cmake
objFile/build/CMakeFiles/angle.dir/compiler_depend.make
objFile/build/CMakeFiles/angle.dir/compiler_depend.ts
objFile/build/CMakeFiles/angle.dir/depend.make
objFile/build/CMakeFiles/angle.dir/DependInfo.cmake
objFile/build/CMakeFiles/angle.dir/flags.make
objFile/build/CMakeFiles/angle.dir/link.txt
objFile/build/CMakeFiles/angle.dir/progress.make
objFile/build/CMakeFiles/angle.dir/home/traum/projects/ProjectVM/objFile/main.cpp.o
objFile/build/CMakeFiles/angle.dir/home/traum/projects/ProjectVM/objFile/main.cpp.o.d
objFile/build/CMakeFiles/angle.dir/home/traum/projects/ProjectVM/objFile/source/parserVMT.cpp.o
objFile/build/CMakeFiles/angle.dir/home/traum/projects/ProjectVM/objFile/source/parserVMT.cpp.o.d
objFile/build/CMakeFiles/objFile.dir/build.make
objFile/build/CMakeFiles/objFile.dir/cmake_clean.cmake
objFile/build/CMakeFiles/objFile.dir/compiler_depend.internal
objFile/build/CMakeFiles/objFile.dir/compiler_depend.make
objFile/build/CMakeFiles/objFile.dir/compiler_depend.ts
objFile/build/CMakeFiles/objFile.dir/depend.make
objFile/build/CMakeFiles/objFile.dir/DependInfo.cmake
objFile/build/CMakeFiles/objFile.dir/flags.make
objFile/build/CMakeFiles/objFile.dir/link.txt
objFile/build/CMakeFiles/objFile.dir/progress.make
objFile/build/CMakeFiles/objFile.dir/home/traum/projects/ProjectVM/objFile/main.cpp.o
objFile/build/CMakeFiles/objFile.dir/home/traum/projects/ProjectVM/objFile/main.cpp.o.d
objFile/build/CMakeFiles/objFile.dir/home/traum/projects/ProjectVM/objFile/source/parserVMT.cpp.o
objFile/build/CMakeFiles/objFile.dir/home/traum/projects/ProjectVM/objFile/source/parserVMT.cpp.o.d
objFile/build/test.cpp
VM/build/CMakeFiles/3.21.3/CMakeCCompiler.cmake
VM/build/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake
VM/build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_C.bin
VM/build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin
VM/build/CMakeFiles/3.21.3/CMakeSystem.cmake
VM/build/CMakeFiles/3.21.3/CompilerIdC/a.out
VM/build/CMakeFiles/3.21.3/CompilerIdC/CMakeCCompilerId.c
VM/build/CMakeFiles/3.21.3/CompilerIdCXX/a.out
VM/build/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
objFile/build/t.txt
objFile/build/objFile
VM/build/f.o
