.vscode/c_cpp_properties.json
.vscode/settings.json
objFile/newclass.sh
makeProject.sh
VM/newclass.sh
VM/build/VM
VM/build/start
VM/build/file.o
objFile/build/start
objFile/build/ObjFile
objFile/build/file.o
objFile/build/CMakeFiles/
VM/build/CMakeFiles/
objFile/build/CMakeFiles/
objFile/build/test.cpp
VM/build/CMakeFiles/
objFile/build/t.txt
objFile/build/objFile
VM/build/f.o
VM/cppcheck_tmp/
VM/build/CMakeFiles/
VM/doc/html/